# IDE
.idea/

# Node
node_modules/

# Solidity
contracts/flat/

# App
.env
cache/
artifacts/
keystore/
passwords/
logs/
db/

# Mac
.DS_Store

# LateX
manifesto/*.aux
manifesto/*.fdb_latexmk
manifesto/*.fls
manifesto/*.log
manifesto/*.out
manifesto/*.toc